:root{
    --clr-soft-red:hsl(7, 99%, 70%);
    --clr-yellow:hsl(51, 100%, 49%);
    --clr-dark-desaturated-cyan: hsl(167, 40%, 24%);
    --clr-dark-moderate-cyan:hsl(168, 34%, 41%);
    --clr-very-dark-desaturated-blue:hsl(212, 27%, 19%);
    --clr-very-dark-grayish-blue:hsl(213, 9%, 39%);
    --clr-dark-grayish-blue:hsl(210, 4%, 67%);
    --clr-bg-footer:hsl(168, 46%, 71%);
    --clr-white:hsl(0, 0%, 100%);

    --font-size:18px;
    --font-body:'Barlow', sans-serif;
    --font-heading:'Fraunces', serif;
    --font-logo:'Passion One', cursive;
    --font-600:600;
    --font-700:700;
    --font-900:900;
}

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,a:hover,a:visited{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: var(--font-body);
    font-size: var(--font-size);
    font-weight: var(--font-600);
    background-color: var(--clr-white);
    max-width: 100vw;
}

/* Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 50px 40px;
    position: absolute;
    z-index: 10;
    background-color: transparent;
}

.navbar .navbar-brand{
    color: var(--clr-white);
    font-family: var(--font-logo);
    font-size: 42px;
}

.navbar .menu-button{
    display: none;
}

.navbar .navbar-list{
    display: flex;
}

.navbar .navbar-list li:not(:first-child){
    margin-left: 30px;
}

.navbar .navbar-list li .navbar-link{
    color: var(--clr-white);
    transition: all .2s linear;
}

.navbar .navbar-list li .navbar-link:hover{
    color: var(--clr-very-dark-desaturated-blue);
}

.navbar .navbar-list li .contact-button{
    background-color: var(--clr-white);
    color: var(--clr-very-dark-desaturated-blue);
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 14px;
    transition: all .2s linear;
    font-weight: var(--font-900);
}

.navbar .navbar-list li .contact-button:hover{
    color: var(--clr-white);
    background: rgba(255, 255, 255, 0.3);
}

/* Hero Section */

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../../images/desktop/image-header.jpg);
    background-size: cover;
    position: relative;
    z-index: 9;
}

.hero .hero-title{
    position: absolute;
    font-family: var(--font-heading);
    font-size: 42px;
    color: var(--clr-white);
    font-weight: var(--font-900);
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.hero .arrow{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

/* Main Content Section */

.main-content{
    display: grid;
    grid-template-areas: 'text-1 image-1' 'image-2 text-2' 'graphic-design photography';
    grid-template-columns: 1fr 1fr;
}


.main-content .content-text-1{
    grid-area: text-1;
}

.main-content .content-image-1{
    grid-area: image-1;
    background-image: url(../../images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
}

.main-content .content-text-2{
    grid-area: text-2;
}

.main-content .content-image-2{
    grid-area: image-2;
    background-image: url(../../images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
}

.main-content .graphic-design{
    grid-area: graphic-design;
    background-image: url(../../images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
}

.main-content .photography{
    grid-area: photography;
    background-image: url(../../images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
}

.main-content .content-box{
    height: 600px;
    position: relative;
    z-index: 2;
}

.main-content .content-text-1 .content-container{
    padding-left: 120px;
    padding-right: 90px;
}

.main-content .content-text-2 .content-container{
    padding-right: 120px;
    padding-left: 90px;
}

.main-content .content-box .content-container{
    position: relative;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
}

.main-content .content-box .content-container .content-title{
    font-family: var(--font-heading);
    color: var(--clr-very-dark-desaturated-blue);
    font-size: 42px;
    font-weight: var(--font-900);
}

.main-content .content-box .content-container .content-text{
    font-family: var(--font-body);
    color: var(--clr-dark-grayish-blue);
    margin: 30px 0;
    line-height: 30px;
}

.main-content .content-box .content-container .learn-more-action{
    font-family: var(--font-heading);
    font-weight: var(--font-900);
    text-transform: uppercase;
    color: var(--clr-very-dark-desaturated-blue);
    position: relative;
    padding: 0 10px;
    z-index: 5;
}

.main-content .content-box .content-container .learn-more-action::before{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -2px;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    opacity: 0.3;
    transition: all .2s linear;
}

.main-content .content-box .content-container .learn-more-action:hover::before{
    opacity: 1;
}

.main-content .content-text-1 .content-container .learn-more-action::before{
    background-color: var(--clr-yellow);
}

.main-content .content-text-2 .content-container .learn-more-action::before{
    background-color: var(--clr-soft-red);
}

.main-content .services-content{
    position: relative;
    height: 600px;
}

.main-content .services-content .content-container{
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding: 0 150px;
}

.main-content .services-content .content-container .services-title{
    font-family: var(--font-heading);
    font-weight: var(--font-900);
    font-size: 28px;
    color: var(--clr-dark-desaturated-cyan);    
}

.main-content .services-content .content-container .services-text{
    font-family: var(--font-body);
    margin-top: 40px;
    margin-bottom: 60px;
}

.main-content .graphic-design .content-container .services-title, .main-content .graphic-design .content-container .services-text{
    color: var(--clr-dark-desaturated-cyan);    
}

.main-content .graphic-design .content-container .services-text{
    opacity: 0.6;
}

.main-content .photography .content-container .services-title, .main-content .photography .content-container .services-text{
    color: var(--clr-very-dark-desaturated-blue);    
}

.main-content .photography .content-container .services-text{
    opacity: 0.6;
}

/* Client Testimonials Section */

.client-testimonials{
    min-height: 100vh;
    padding: 100px 100px;
    text-align: center;
}

.client-testimonials .content-title{
    font-family: var(--font-heading);
    font-size: 24px;
    letter-spacing: 5px;
    color: var(--clr-dark-grayish-blue);
    text-transform: uppercase;
    font-weight: var(--font-900);
}

.client-testimonials .content-container{
    display: grid;
    grid-template-areas: 'testimonials-1 testimonials-2 testimonials-3';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.client-testimonials .content-container .content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.client-testimonials .content-container .testimonials-1{
    grid-area: testimonials-1 ;
}
.client-testimonials .content-container .testimonials-2{
    grid-area: testimonials-2 ;
}
.client-testimonials .content-container .testimonials-3{
    grid-area: testimonials-3 ;
}

.client-testimonials .content-container .content-box .profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.client-testimonials .content-container .content-box .description-text{
    font-family: var(--font-body);
    font-size: var(--font-size);
    color: var(--clr-very-dark-grayish-blue);
    line-height: 30px;
    margin-bottom: 40px;
}

.client-testimonials .content-container .content-box .profile-name{
    font-family: var(--font-heading);
    font-weight: var(--font-900);
    color: var(--clr-very-dark-desaturated-blue);
    margin-bottom: 10px;
}

.client-testimonials .content-container .content-box .profile-profession{
    font-family: var(--font-body);
    font-size: 14px;
    color: var(--clr-dark-grayish-blue);
}

/* Gallery Section */

.gallery{
    display: grid;
    grid-template-areas: 'image-1 image-2 image-3 image-4';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.gallery .gallery-image{
    width: 100%;
    object-position: center;
}

/* Footer Section */

.footer{
    background-color: var(--clr-bg-footer);
    padding: 75px 10px;
    text-align: center;
}

.footer .footer-brand{
    color: var(--clr-dark-desaturated-cyan);
    font-family: var(--font-logo);
    font-size: 42px;
}

.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-top: 40px;
    margin-bottom: 50px;
}

.footer ul li:not(:first-child){
    margin-left: 75px;
}


.footer ul li .footer-link{
    font-family: var(--font-body);
    color: var(--clr-dark-moderate-cyan);
    transition: all .2s linear;
}

.footer ul li .footer-link:hover{
    color: var(--clr-white);
}

.footer .social-media{
    margin-bottom: 50px;
}

.footer .social-media .social-media-link svg{
    fill: var(--clr-dark-desaturated-cyan);
    transition: all .2s linear;
}

.footer .social-media .social-media-link:hover svg{
    fill: var(--clr-white);
}

.footer .social-media .social-media-link:not(:first-child){
    margin-left: 30px;
}


.footer .attribution{
    font-family: var(--font-body);
    color: var(--clr-dark-moderate-cyan);
}

.footer .attribution a{
    font-family: var(--font-heading);
    color: var(--clr-dark-desaturated-cyan);
}

/* Responsive Breakpoint */

@media (max-width:375px){

    :root{
        --font-size:16px;
    }

    .navbar {
        margin-top: 10px;
        padding: 30px 0;
        height: 50px;
    }
    .navbar .navbar-brand{
        font-size: 28px;
        margin-left: 20px;
    }

    .navbar .menu-button{
        display: block;
        padding: 10px;
        background-color: transparent;
        border: none;
        margin-right: 20px;
        cursor: pointer;
    }

    .navbar .navbar-list{
        position: absolute;
        left: 50%;
        top: -100vh;
        transform: translateX(-50%);
        background-color: var(--clr-white);
        width: calc(100vw - 60px);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10px;
        height: 300px;
        opacity: 0;
        transition: all .3s linear  ;
    }

    .navbar .navbar-list.open{
        top: 100px ;
        opacity: 1;
    }

    .navbar .navbar-list::after{
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border-right: 25px solid transparent;
        border-left: 25px solid var(--clr-white);
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        top: -24px;
        transform: rotate(45deg);
        right: -25px;
    }

    .navbar .navbar-list li:not(:first-child){
        margin-left: 0;
    }

    .navbar .navbar-list li .navbar-link{
        color: var(--clr-very-dark-desaturated-blue);
    }

    .navbar .navbar-list li .contact-button{
        background-color: var(--clr-yellow);
        padding: 15px 30px;
    }

    .navbar .navbar-list li .contact-button:hover{
        background-color: var(--clr-yellow);
        color: var(--clr-very-dark-desaturated-blue);
        opacity: 0.7;
    }

    .hero{
        background-position: center bottom;
        width: 100%;
    }

    .hero .hero-title{
        font-size: 32px;
    }

    .main-content{
        display: grid;
        grid-template-areas: 'image-1' 'text-1' 'image-2' 'text-2' 'graphic-design' 'photography';
    }

    .main-content .content-box{
        width: 100vw;
        height: 50vh;
    }

    .main-content .content-text-1 .content-container, .main-content .content-text-2 .content-container{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .main-content .services-content .content-container{
        padding: 0 0x ;
    }

    
    .main-content .content-box .content-container .content-title{
        font-size: 32px;
    }

    .main-content .content-box .content-container .learn-more-action{
        padding: 0 10px;
    }

    .main-content .content-box .content-container .learn-more-action::before{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .main-content .services-content{
        position: relative;
        height: 70vh;
    }

    .main-content .services-content .content-container{
        padding: 0 40px;
    }

    .client-testimonials{
        padding: 60px 20px;
    }

    .client-testimonials .content-title{
        font-size: 18px;
        letter-spacing: 3px;
    }
    
    .client-testimonials .content-container{
        grid-template-areas: 'testimonials-1' 'testimonials-2' 'testimonials-3';    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px;
        row-gap: 60px;
        margin-top: 50px;
    }

    .client-testimonials .content-container .content-box{
        padding: 0 10px;
    }

    .gallery{
        grid-template-areas: 'image-1 image-2' 'image-3 image-4';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer{
        padding: 50px 0;
    }

    .footer .footer-brand{
        font-size: 28px;
    }

    .footer ul{   
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .footer ul li:not(:first-child){
        margin-left: 25px;
    }

    





}

